* {
    box-sizing: border-box;

}

.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: blue solid 3px; */
    z-index: 1;
}

.dash-header {
    display: flex;
    /* border: orange solid 3px; */
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    margin-top: 10px;
    
}
.dash-header h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
}



.grid-container {
    display: flex;
    /* border: red solid 3px; */
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    
}

#imgGrid {
    overflow-x: auto;
}

.card-ele {
    width: 200px;
    height: 250px;
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.301);
    opacity: .6;
}

.card-ele:hover, .selected {
    opacity: 1;
    cursor: pointer;
} 

.defaultButton {
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.301);
}

.defaultButton:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: black;
}


.vol_div {
    margin-left: 10px;
    width: 90%;
    height: auto;
}
  
.slider {
    -webkit-appearance: none;
    width: 25%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    border-radius: 50px;
    height: 15px;
    background:  #000000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 15px;
    border-radius: 50px;
    background: #000000;
    cursor: pointer;
}

.vol_div h1 {
    font-size: 30px;
}

.vol_div h1:hover {
    opacity: 1;
}



